.nav-link{
    font-family: 'Kanit', sans-serif;
    width: 160px;
    text-align: left;
    padding-top:10px;
    /* padding-bottom:20px; */
    color: white !important;
}

.nav-link:hover {
    background-color: #E7BB41;
    text-decoration: none;
    color: black; 
  }

.nav-list{
    padding-left: 0px;
    color: #453F3C !important;
    font-size: 17px;
    font-weight: 400;
}

.profile{
    width: 30px;
    text-align: center;
    padding-top:'10px';
    margin-right: 10px;
    margin-left: 10px;
}



.logout{
  background-color:#C42847;
  border:none;
  padding:7px;
  padding-right:10px;
  border-radius:7px;
  margin-left:20px;
  margin-right: 5px;
  margin-top: 10px;
  /* box-shadow: -12px 0px #E0FBFC; */
}

/* .logout:hover{
  background-color:#C42847;
  box-shadow: 12px 0px #E0FBFC;
} */

.welcome{
  color: white;
  font-family: Kanit, sans-serif;
  font-weight: 500;
  font-size: 25px;
  background-color:#EF820D;
  border-radius: 50px;
  padding:7px;
  padding-left: 18px;
  padding-right: 18px;
}

.name{
  color: black;
  font-family: Kanit, sans-serif;
  font-weight: 500;
  font-size: 22px;
  background-color:white;
  border-radius: 15px;
  padding:7px;
  padding-left: 25px;
  padding-right: 12px;
  position: relative;
  left: -18px;
}
  